@import url('https://fonts.googleapis.com/css2?family=Graduate&display=swap');

.pokemon{
    background: linear-gradient(white,white);
    border-radius: 10px;
    box-shadow: 0 3px 15px rgba(100,100,100,0.5);
    margin: 10px;
    padding: 15px;
    text-align: center;
    width: 200px;
}

.pokemon:hover{
    outline: none;
    border-color: black;
    box-shadow: 0 0 15px black;
    transform: scale(1.1);
}

.card {
    align-items: center;
    font-family: 'Press Start 2P', cursive;
    font-size: 0.8em;
    text-align: center;
}

.card:hover{
    cursor: pointer;
}

.pokemon .img-con{
    background-color: rgb(255, 225, 225, 0.67);
    border-radius: 50%;
    width: 180px;
    height: 180px;
    text-align: center;
}

.pokemon .img-con img{
    max-width: 90%;
    margin-top: 20px;
}

.pokemon .info{
    margin-top: 20px;
}

.pokemon .info .number{
    background-color: rgba(0,0,0,0.5);
    font-family: 'Graduate', cursive;
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 1em;
    color: white;
}

.pokemon .info .name{
    margin: 15px 0 7px;
    letter-spacing: 1px;
    color: black;
}

.poke {
    text-align: center;
    height: 180px;
    width: 180px;
}

.link{
    text-decoration: none;
}