body{
    /*background-image: url(../public/pics/bg.jpg);*/
    font-family: 'Press Start 2P', cursive;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
div{
    display: block;
}