@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
*{
    box-sizing: border-box;
}

body{
    background-color: coral;
    font-family: 'Press Start 2P', cursive;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
}
